/* Button sizes for the action menu */
.plum_fixed_width_action {
	width: 108px;
	height: 24px;
}

.plum_fixed_width_move {
	width:  32px;
	height: 24px;
}

/* Custom table for the action menu layout */
table.plum_action_menu td {
	padding: 4px;
}

/* Custom table for action menu action buttons */
table.plum_action_table td {
	padding: 4px;
}

/* Custom table for action menu move buttons */
table.plum_move_table td {
	padding: 1px;
}

/* Padding between rows */
.top-buffer { 
	margin-top: 1px; 
}

.gameboard-tile {
	background-color:#FFAD40;
	height: 60px; 
	width: 141px;
}

.hallway-text {
	color: #FFAD40;
}