@(title: String, player_name: String, player_uuid: String, club_uuid: String)

@main(title) {
    <h1 class="page-header">@title</h1>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Gameboard</h3>
                        </div>
                        <div id="gameboard" class="panel-body">
                        
                            <!-- TODO: Eventually convert all of these styles
                            into something in the CSS document. It will make
                            all of this much easier to look at -->

                            <!-- First Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2" style="background-image: url(/assets/images/study.jpg); border: 1px solid black;">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/horizontalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/hall.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/horizontalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/lounge.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                            </div>


                            <!-- Second Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2" style="background-image: url(/assets/images/verticalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-offset-2 col-md-2" style="background-image: url(/assets/images/verticalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-offset-2 col-md-2" style="background-image: url(/assets/images/verticalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Third Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2" style="background-image: url(/assets/images/library.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/horizontalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/billiard.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/horizontalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/dining.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                            </div>


                            <!-- Fourth Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2" style="background-image: url(/assets/images/verticalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-offset-2 col-md-2" style="background-image: url(/assets/images/verticalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-offset-2 col-md-2" style="background-image: url(/assets/images/verticalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                            </div>


                            <!-- Fifth Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2" style="background-image: url(/assets/images/conservatory.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/horizontalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/ballroom.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/horizontalHallway.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                                <div class="col-md-2" style="background-image: url(/assets/images/kitchen.jpg); border: 1px solid black">
                                    <div class="row">
                                        <div class="col-md-1">A</div>
                                        <div class="col-md-offset-6 col-md-1">B</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">C</div>
                                        <div class="col-md-offset-6 col-md-1">D</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">E</div>
                                        <div class="col-md-offset-6 col-md-1">F</div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Card Hand</h3>
                        </div>
                        <div class="panel-body">
                            ** CARDS HERE **
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Action Menu</h3>
                        </div>
                        <div class="panel-body">

                            <!-- Action Menu Items -->
                            <table class="plum_action_menu"><tr>
                                <td>
                                    <table class="plum_action_menu" align="left">
                                        <tr>
                                            <td><button class="plum_fixed_width_action" id="suggestion_button">Suggestion</button></td>
                                        </tr>
                                        <tr id="plum_action_table">
                                            <td><button class="plum_fixed_width_action" id="accuse_button">Accuse</button></td>
                                        </tr>
                                        <tr id="plum_action_table">
                                            <td><button class="plum_fixed_width_action" id="secret_room_button">Secret Room</button></td>
                                        </tr>
                                    </table>
                                </td>

                                <td>
                                    <table class="plum_move_table">
                                        <tr>
                                            <td></td>
                                            <td><button id="up_button" class="glyphicon glyphicon-arrow-up plum_fixed_width_move"></button></td>
                                            <td></td>
                                        </tr>
                                        <tr>
                                            <td><button id="left_button"  class="glyphicon glyphicon-arrow-left plum_fixed_width_move"></button></td>
                                            <td><button id="down_button"  class="glyphicon glyphicon-arrow-down plum_fixed_width_move"></button></td>
                                            <td><button id="right_button" class="glyphicon glyphicon-arrow-right plum_fixed_width_move"></button></td>
                                        </tr>
                                    </table>
                                <td>
                            </tr></table>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chat and Game History</h3>
                    </div>
                    <div class="panel-body" style="height: 340px;">

                        <!-- TODO: Need to implement the tab to switch between
                        the game information and chat room -->
                        
                        <!-- Chat Room -->
                        <textarea id="chat_box" readonly="readonly"
                                  style="width: 250px; height: 270px;
                                         margin: 2px; resize: none"></textarea>
                        </textarea>
                        <form id="message_form">
                            <input type=text id="message_input"
                                   style="width: 180px; height: 24px; margin: 2px" />
                            <input type="submit" id="send_button" value="Send"
                                   style="width: 60px; margin: 2px" disabled />
                        </form>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Player Turn</h3>
                    </div>
                    <div class="panel-body">
                        ** PLAYER GRID WITH CURRENT PLAYER **
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" charset="utf-8" src="@routes.Clueless.plumJs(club_uuid, player_name, player_uuid)"></script>

}