@(message: String)

@main("Game Lobby") {
    <h1>@message</h1>
    <div class="row">
        <div class="col-md-9">
            <div class="row">
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Gameboard</h3>
                        </div>
                        <div class="panel-body">
                            ** GAMEBOARD LAYOUT HERE **
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Card Hand</h3>
                        </div>
                        <div class="panel-body">
                            ** CARDS HERE **
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Action Menu</h3>
                        </div>
                        <div class="panel-body">
                            ** ACTION MENU FORM **
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Chat and Game History</h3>
                    </div>
                    <div class="panel-body">
                        ** CHAT AND GAME HISTORY **
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Current Player Turn</h3>
                    </div>
                    <div class="panel-body">
                        ** PLAYER GRID WITH CURRENT PLAYER **
                    </div>
                </div>
            </div>
        </div>
    </div>
}