@(message: String, openGameUUIDs: Array[String])

@main("Game Lobby") {
<h1 class="page-header">@message</h1>
<div class="row">
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3 class="panel-title">Main Club Room</h3>
                    </div>
                        <div id="gameboard" class="panel-body">
                        
                            <!-- First Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2 gameboard-tile" style="background-image: url(/assets/images/study.jpg);"   id="Study" title="Mrs. White did it in the Study with the Lead Pipe (Game #3)">
                                

                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    
                                </div>
                                    


                                <div class="col-md-2 gameboard-tile hallway-text" id="Study-Hall">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>


                                <div class="col-md-2 gameboard-tile" style="background-image: url(/assets/images/hall.jpg);" id="Hall" title="Colonel Mustard did it in the Hall with the revolver (Game 4)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile hallway-text" id="Hall-Lounge">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile" style="background-image: url(/assets/images/lounge.jpg);" id="Lounge" title="Mrs. Peacock did it in the Lounge with the revolver (Game 11)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>
                            </div>


                            <!-- Second Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2 gameboard-tile hallway-text" id="Study-Library">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-offset-2 col-md-2 gameboard-tile hallway-text" id="Hall-Billiard">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-offset-2 col-md-2 gameboard-tile hallway-text" id="Lounge-Dining">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>
                            </div>

                            <!-- Third Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2 gameboard-tile" style="background-image: url(/assets/images/library.jpg);" id="Library" title="Professor Plum did it in the Library with the knife (Game 2)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile hallway-text" id="Library-Billiard">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile" style="background-image: url(/assets/images/billiard.jpg);" id="Billiard" title="Mr. Green did it in the Billiard Room with the Knife (Game 10)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile hallway-text" id="Billiard-Dining">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile" style="background-image: url(/assets/images/dining.jpg);" id="Dining" title="Miss Scarlet did it in the Dining Room with the candlestick (Game 5)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>
                            </div>


                            <!-- Fourth Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2 gameboard-tile hallway-text" id="Library-Conservatory">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-offset-2 col-md-2 gameboard-tile hallway-text" id="Billiard-Ballroom">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-offset-2 col-md-2 gameboard-tile hallway-text" id="Dining-Kitchen">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>
                            </div>


                            <!-- Fifth Row -->
                            <div class="row">
                                <div class="col-md-offset-1 col-md-2 gameboard-tile" style="background-image: url(/assets/images/conservatory.jpg);" id="Conservatory" title="Mr. Green did it in the Conservatory with the rope (Game 3)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile hallway-text" id="Conservatory-Ballroom">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile" style="background-image: url(/assets/images/ballroom.jpg);" id="Ballroom" title="Mrs. White did it in the Ballroom with the candlestick (Game 13)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile hallway-text" id="Ballroom-Kitchen">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>

                                <div class="col-md-2 gameboard-tile" style="background-image: url(/assets/images/kitchen.jpg);" id="Kitchen" title= "Colonel Mustard did it in the Kitchen with the rope (Game 7)">
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1"><img src="/assets/images/plum_token.png" id="plum_token"/></div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-1">_</div>
                                        <div class="col-md-offset-6 col-md-1">_</div>
                                    </div>
                                </div>
                            </div>
                        </div>   
                </div>
            </div>

                <!-- Historical Game Statistics Section -->
                <div class="col-md-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h3 class="panel-title">Historical Game Statistics</h3>
                        </div>
                        <div class="panel-body">
                            <div class="row" id="hand">
                                <div class="col-md-1"></div>
                                <div class="col-md-offset-0 col-md-1"><img src="/assets/images/Cards/fakestat_mustard.jpg" id="fakestat_mustard"/></div>

                                <div class="col-md-1"></div>
                                <div class="col-md-offset-0 col-md-1"><img src="/assets/images/Cards/fakestat_wrench.jpg" id="fakestat_wrench"/></div>

                                <div class="col-md-1"></div>
                                <div class="col-md-offset-0 col-md-1"><img src="/assets/images/Cards/fakestat_library.jpg" id="fakestat_library"/></div>

                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>


    <div class="col-md-3">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Main Menu</h3>
                </div>
                <div class="panel-body">
                    @helper.form(action = routes.Club.join()) {
                        <div class="form-group">
                                <label for="player_name">Player Name</label>
                                <input type="text" class="form-control" name="player_name" id="player_name" placeholder="Enter a player name">
                            </div>
                            <div class="form-group">
                                    <label for="club_uuid">Available Club Rooms</label>
                                    <select class="form-control input-lg" name="club_uuid" id="club_uuid">
                                        @for(game <- openGameUUIDs) {
                                            <option value="@game">Club Room #@game (0/6)</option>
                                        }
                                    </select>
                            </div>
                            <div class="form-group">
                                <button type="submit" class="btn btn-primary btn-lg btn-block">Join</button>
                            </div>
                    }
                </div>
            </div>
        </div>
    </div>
</div>
}
