@(title: String)(content: Html)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="JHU">
    <meta name="author" content="Professor Plum's Revenge">
    <link rel="shortcut icon" href="@routes.Assets.at("images/favicon.ico")">

    <title>@title</title>
    <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/navbar-fixed-top.css")" rel="stylesheet">
    <link href="@routes.Assets.at("stylesheets/plum.css")" rel="stylesheet">

    <script src="@routes.Assets.at("javascripts/jquery-1.11.0.js")" type="text/javascript"></script>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    </head>

    <body>
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Clue-Less</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#about">About</a></li>
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>
    <div class="container">
        @if(flash.get("danger")) {
            <div class="alert alert-danger alert-dismissable">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <strong>You done goofed!</strong> @flash.get("danger")
            </div>
        }
        @content
    </div>
    <script src="@routes.Assets.at("javascripts/bootstrap.js")"></script>
    </body>
</html>
